.container {
  height: 100vh;
  background: url("../assets/master.jpeg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  padding: 40px;
}

.imageContainer {
  border-radius: 10px;
  overflow: hidden;
  margin-right: 20px;
}

.image {
  max-width: 100%;
  border-radius: 10px;
}

.textContainer {
  flex: 1;
  color: #ffffff;
}

.heading {
  font-size: 50px;
  color: white;
  margin-bottom: 16px;
}

.paragraph {
  font-size: 18px;
  line-height: 1.6;
  max-width: 500px;
  color: white;
}
